// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


// Main container
.container-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container-main {
    padding: 0 40px;
  }
}


